/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
list-style-type: none;
}

input {
    outline:none;
}

video {
    outline: none;
}

 /* input[type="file"] {
    display: none;
} */

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

 button {
    outline:none;
    cursor: pointer;
 }

 textarea {
    outline: none;
 }

.session-form-container {
    display: flex;
    width: 450px;
    height: 550px;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    padding: 50px;
    border: 1px rgb(217, 220, 224) solid;;
    margin: 100px auto;
    border-radius: 5px;
    box-sizing: border-box;
}

.logo h2{
    font-size: 30px;
    font-weight: 1000;
}

.session-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.session-input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.session-input-fields input {
    height: 25px;
    width: 300px;
    padding: 13px 15px;
    border-radius: 5px;
    margin: 10px;
    border: 1px rgb(217, 220, 224) solid;
    /* border-style: solid; */
    font-size: 16px;
}

.session-input-fields input:focus {
    border: 2px rgb(0, 122, 226) solid
}

.edit-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.edit-form input {
    height: 25px;
    width: 300px;
    padding: 13px 15px;
    border-radius: 5px;
    margin: 10px;
    border: 1px rgb(217, 220, 224) solid;
    /* border-style: solid; */
    font-size: 16px;
}

.edit-form textarea {
    height: 70px;
    width: 300px;
    padding: 13px 15px;
    border-radius: 5px;
    margin: 10px;
    border: 1px rgb(217, 220, 224) solid;
    /* border-style: solid; */
    font-size: 16px;
}

.edit-form input:focus {
    padding: 12px 14px;
    border: 2px rgb(0, 122, 226) solid
}

.edit-form textarea:focus {
    padding: 12px 14px;
    border: 2px rgb(0, 122, 226) solid
}

.session-form-buttons {
    display: flex;
    width: 350px;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px;
    cursor: pointer;
}

.next-button {
    background-color: rgb(0, 122, 226);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.session-form-buttons-Links {
    text-decoration: none;
    color: #1A73E8;
    padding-top: 15px;

}

.session-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session-form-header h2 {
    padding: 20px;
    font-size: 24px;
    margin: 10px;
}

.session-form-header h4 {
    margin-bottom: 20px;
}

.errors-text {
    font-size: 12px;
    font-weight: lighter;
    color: rgb(231, 42, 43);
}

.errors-text-login {
    font-size: 14px;
    font-weight: lighter;
    color: rgb(231, 42, 43);
}


.nav-bar-container {
    display: flex;
    width: 100%;
    height: 56px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 35px;
}

.nav-bar-left span {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 23px;
    cursor: pointer;
}

.nav-bar-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.search-bar {
    width: 90%;
}

.search-bar input {
    width: 100%;
}

.search-button {
    border: 1px solid rgb(208, 208, 208);
    margin-left: 5px;
    cursor: pointer;
}

.nav-bar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 35px;
}

/* .nav-bar-right button {
    background: white;
    border: 1px solid rgb(0, 102, 206) ;
    color: rgb(0, 102, 206);
    height: 28px;
    width: 80px;
    padding: 11px 5px;
} */

.sign-in-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: white;
    border: 1px solid rgb(0, 102, 206) ;
    color: rgb(0, 102, 206);
    height: 80%;
    width: 80px;
    padding: 11px 5px;
    /* font-weight: bolder; */
    cursor: pointer;
}

.sign-in-button p {
    font-size: 14px;
    font-weight: bolder;
}

.video-index-container {
    display: flex;
    width: 86%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.video-index-container-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.video-item-container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    max-width: 210px;
    cursor: pointer;
    margin-right: 4px;
    margin-top: 10px;
    /* padding-right: 4px; */
}

.video-item-container img {
    width: 209px;
    height: 128px;
}

.video-details {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 82px;
}

.video-details h1 {
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-bottom: 8px;
}

.video-details p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #606060;
}

.video-index-container-background {
    height: 100vh;
    width: 100vw;
    background-color: rgb(249, 249, 249);
}

.video-index-recommended-header {
    display: flex;
    width: 87%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-left: 10px;
}

.video-show-wrapper {
    width: 100%;
    background-color: rgb(249, 249, 249);
}

.video-show-wrapper span {
    padding-top: 30px;
}

.video-show-page {
    margin-bottom: 80px auto;
    margin-left: 80px auto;
    margin-right: 80px auto;
    width: 95%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.video-show-container {
    padding-right: 24px;
    height: auto;
}

.video-container {
    width: 875px;
    height: 495px;
    margin-bottom: 30px;
}

.video-container video {
    width: 100%;
    height: 100%;
}

.video-show-container video {
    object-fit: contain;
}

.video-show-details {
    display: flex;
    flex-direction: column;
}

.video-show-details-top {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #e5e5e5;
}

.video-show-details-top h1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

.video-show-details-top p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    color: rgb(110,110,110);
}

.video-show-details-bottom {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #e5e5e5;
    padding-top: 30px;
    padding-bottom: 30px;
}

.video-show-details-bottom h1 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.video-show-details-bottom h2 {
    font-size: 14px;
    color: rgb(110,110,110, 0.8);
    padding-bottom: 30px;
}

.video-show-details-bottom p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}

.video-show-index-container {
    display: flex;
    flex-direction: column;
}

.video-show-index-container h3 {
    font-size: 17px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.video-show-index-list {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.video-show-index-list>:first-child {
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(229,229,229);
    margin-bottom: 14px;
}

.video-show-list-item {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 100px;
    cursor: pointer;
}

.video-show-list-item-image-container img {
    width: 185px;
    height: 104px;
}

.video-show-list-item-details {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.video-show-list-item-details h1 {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding-bottom: 13px;
}

.video-show-list-item-details p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding-bottom: 13px;
    color: rgb(96,96,96);
}