/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  list-style-type: none;
}

input {
  outline: none;
}

video {
  outline: none;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  padding: 20px;
  margin-right: 10px;
  /* height: 100px; */
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  box-shadow: 0 0 4px gainsboro inset;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  box-sizing: content-box;
  cursor: pointer;
}

.upload-video-icon {
  font-size: 50px;
  /* padding-left: 70px;
    padding-top: 35px; */
}

.upload-video-icon-check {
  font-size: 50px;
  color: rgb(80, 174, 84);
}

.video-upload-input-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.video-upload-input-field-title {
}

.video-upload-input-field-description {
  width: 100%;
}

.custom-file-thumbnail {
  // padding: 20px;
  // height: 100px;
  // width: 200px;
  height: 144px;
  width: 248px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  box-shadow: 0 0 4px gainsboro inset;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  box-sizing: content-box;
  cursor: pointer;
}

.upload-thumbnail-icon {
  font-size: 50px;
}

#thumbnail {
  display: none;
  background-color: none;
  width: 100%;
  height: 144px;
  object-fit: contain;
}

.video-form-input-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
}

/* input[type="file"] {
    display: none;
} */

button {
  outline: none;
  cursor: pointer;
}

textarea {
  outline: none;
}

.session-form-container {
  display: flex;
  width: 450px;
  height: 550px;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  padding: 50px;
  border: 1px rgb(217, 220, 224) solid;
  margin: 100px auto;
  border-radius: 5px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo :hover {
  cursor: pointer;
}

.logo h2 {
  font-size: 30px;
  font-weight: 1000;
  font-family: "Pathway Gothic One", sans-serif;
}

.session-form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.session-input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.session-input-fields input {
  height: 25px;
  width: 300px;
  padding: 13px 15px;
  border-radius: 5px;
  margin: 10px;
  border: 1px rgb(217, 220, 224) solid;
  /* border-style: solid; */
  font-size: 16px;
}

.session-input-fields input:focus {
  border: 2px rgb(0, 122, 226) solid;
}

.upload-form-container {
  display: flex;
  flex-direction: column;
}

.upload-form-background {
  background-color: rgb(249, 249, 249);
}

.video-form-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  border: 2px solid #e6e6e6;
  align-items: center;
  background-color: white;
  margin-top: 75px;
}

.video-form-container h2 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

.edit-form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.edit-form-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}

.edit-form-bottom input {
  height: 25px;
  // width: 300px;
  padding: 13px 15px;
  border-radius: 5px;
  margin: 10px;
  border: 1px rgb(217, 220, 224) solid;
  font-size: 16px;
}

.edit-form-bottom textarea {
  height: 70px;
  // width: 300px;
  padding: 13px 15px;
  border-radius: 5px;
  margin: 10px;
  border: 1px rgb(217, 220, 224) solid;
  font-size: 16px;
  resize: vertical;
}

.edit-form input:focus {
  padding: 12px 14px;
  border: 2px rgb(0, 122, 226) solid;
}

.edit-form textarea:focus {
  padding: 12px 14px;
  border: 2px rgb(0, 122, 226) solid;
}

#email-input {
  border: 1px rgb(217, 220, 224) solid;
  padding-bottom: 13px 15px;
}

#email-input:focus {
  border: 2px rgb(0, 122, 226) solid;
  padding: 12px 14px;
}

#username-input:focus {
  border: 2px rgb(0, 122, 226) solid;
  padding: 12px 14px;
}

#username-input {
  border: 1px rgb(217, 220, 224) solid;
  padding-bottom: 13px 15px;
}

#password-input:focus {
  border: 2px rgb(0, 122, 226) solid;
  padding: 12px 14px;
}

#password-input {
  border: 1px rgb(217, 220, 224) solid;
  padding-bottom: 13px 15px;
}

.edit-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10px;
}

.video-show-comments-container {
  display: flex;
  flex-direction: column;
}

.video-show-comments-container h3 {
  margin-bottom: 30px;
  font-size: 20px;
}

.comment-form-icon-container {
}

.comments-form-styling-container {
  width: 100%;
}

.video-show-comments-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

// .comment-textarea {
//   resize: none;
//   width: 100%;
//   height: auto;
//   // max-height: 100%;
//   border: none;
//   overflow-x: hidden;
//   overflow-y: auto;
//   background: rgb(249, 249, 249);
//   font-size: 15px;
// }

.comment-textarea {
  min-width: 100%;
  width: 100%;
  resize: none;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 1.8em;
  height: auto;
  padding: 2px;
  left: 0px;
  line-height: 1.5;
}

// div[contenteditable]{
//     border: 1px solid black;
//     max-height: 200px;
//     overflow: auto;
// }

.video-show-comments-form-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.video-show-comments-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// .video-show-comments-form form {
//   height: 30px;
// }

.comment-cancel-btn {
  padding: 13px 15px;
  margin-right: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  border: none;
  background: rgb(249, 249, 249);
}

.comment-cancel-btn:hover {
  cursor: pointer;
}

.comment-submit-btn {
  padding: 13px 15px;
  background: rgb(204, 204, 204);
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
}

.comment-submit-btn-active {
  padding: 13px 15px;
  background: #1a73e8;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
}

.comment-submit-btn-active:hover {
  cursor: pointer;
  background: rgb(0, 125, 225);
  box-shadow: 0.5px 1px 2px rgb(0, 125, 225);
}

.comment-form-buttons {
  margin-top: 10px;
  align-self: flex-end;
}

.comment-form-input-container::after {
  display: block;
  content: "";
  border-top: 2px solid #606060;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
  width: 100%;
}

.comment-form-input-container:focus-within::after {
  transform: scaleX(1);
}

.signed-in {
  width: 99%;
  border: none;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 5px;
  font-size: 15px;
  background: rgb(249, 249, 249);
}

.signed-in:focus {
  border-bottom: 0px solid rgb(229, 229, 229);
  // transition: border-bottom 100ms;
  padding-bottom: 6px;
}

.signed-out {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 5px;
  font-size: 15px;
  background: rgb(249, 249, 249);
}

.signed-out:focus {
  border-bottom: 2px solid #606060;
}

.current-user-icon {
  margin-right: 16px;
  background: #fd4d29;
  padding: 9px 14px;
  border-radius: 100%;
  line-height: 22px;
  color: white;
  font-size: 20px;
  font-family: "Arial";
}

.comment-styling-container {
  display: flex;
}

.comment-user-icon {
  margin-right: 16px;
  background: #fd4d29;
  padding: 9px 14px;
  border-radius: 100%;
  line-height: 22px;
  font-weight: 500;
  color: white;
  font-size: 20px;
  font-family: "Arial";
}

.comment-details-container {
  display: flex;
  flex-direction: column;
}

.comment-user-icon-container {
  display: flex;
  align-items: flex-start;
}

.comment-container-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.comment-username {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 7px;
}

.comment-delete-button {
  background: #1a73e8;
  color: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
}

.comment-delete-button:hover {
  cursor: pointer;
  background: rgb(0, 125, 225);
}

.comment-delete-button-container {
}

.comment-body {
  margin-bottom: 12px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  max-width: 540px;
  overflow-wrap: break-word;
  line-height: 1.4;
}

.hidden {
  display: none;
}

.comment-user-circle {
  font-size: 42px;
  margin-right: 12px;
  color: #1a73e8;
}

// .edit-form input {
//     height: 25px;
//     width: 300px;
//     padding: 13px 15px;
//     border-radius: 5px;
//     margin: 10px;
//     border: 1px rgb(217, 220, 224) solid;
//     /* border-style: solid; */
//     font-size: 16px;
// }

// .edit-form textarea {
//     height: 70px;
//     width: 300px;
//     padding: 13px 15px;
//     border-radius: 5px;
//     margin: 10px;
//     border: 1px rgb(217, 220, 224) solid;
//     /* border-style: solid; */
//     font-size: 16px;
// }

.session-form-buttons {
  display: flex;
  width: 350px;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
  cursor: pointer;
}

.next-button {
  background-color: rgb(0, 122, 226);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.delete-button {
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.publish-button {
  background-color: rgb(0, 122, 226);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.session-form-buttons-Links {
  text-decoration: none;
  color: #1a73e8;
  padding-top: 15px;
}

.session-form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-form-header h2 {
  padding: 20px;
  font-size: 24px;
  margin: 10px;
}

.session-form-header h4 {
  margin-bottom: 20px;
}

.errors-text {
  font-size: 12px;
  font-weight: lighter;
  color: rgb(231, 42, 43);
}

.errors-text-login {
  font-size: 14px;
  font-weight: lighter;
  color: rgb(231, 42, 43);
}

.nav-bar-container {
  display: flex;
  width: 100%;
  height: 56px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: fixed;
  z-index: 10;
}

.nav-bar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 35px;
  cursor: pointer;
}

.nav-bar-left span {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 25px;
}

.twixtertube-logo {
  width: 85px;
  height: 70px;
  z-index: 0;
  object-fit: contain;
  padding-bottom: 5px;
}

.nav-bar-user-icon-container {
  padding-bottom: 10px;
}

.nav-bar-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding-right: 20px;
  padding-left: 20px;
}

.search-container {
  width: 80%;
  margin: auto;
  padding-top: 80px;
}

.search-results-header {
  font-size: 20px;
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-bottom: 14px;
}

.search-video-index-item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 16px;
}

.search-video-item-thumbnail img {
  width: 246px;
  object-fit: contain;
  height: 138px;
  background-color: black;
}

.search-video-item-details {
  margin-left: 15px;
}

.search-video-item-title {
  padding-bottom: 10px;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
}

.search-results-error {
  text-align: center;
  font-size: 24px;
  font-family: "Roboto", Arial, sans-serif;
  padding-bottom: 15px;
}

.search-results-error-message {
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  padding-bottom: 20px;
}

.search-error-puppy-container {
  margin: auto;
  text-align: center;
}

.search-error-puppy {
  max-width: 575px;
}

.search-video-item-info {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  color: rgb(96, 96, 96);
  padding-bottom: 10px;
}

.search-video-item-description {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  color: rgb(96, 96, 96);
}

.search-bar {
  width: 90%;
}

.search-bar input {
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  box-shadow: inset 0px -1px 5px rgba(0, 0, 0, 0.07);
  border: 1px solid rgb(204, 204, 204);
}

.search-bar input:focus {
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  box-shadow: inset 1px -1px 11px rgba(0, 0, 0, 0.07);
  border: 1px solid rgb(34, 100, 183);
}

.search-button {
  border: 1px solid #d0d0d0;
  margin-left: 12px;
  cursor: pointer;
  height: 34px;
  width: 65px;
  background-color: #f8f8f8;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 15px;
  color: #828282;
}

.search-button:hover {
  background-color: #f0f0f0;
  border-color: #c6c6c6;
}

.nav-bar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 35px;
  justify-content: space-between;
  width: 179px;
}

.nav-bar-right-profile-btn {
  cursor: pointer;
  font-size: 35px;
  color: rgb(173, 181, 189);
  margin-right: 25px;
}

.profile-button-modal {
  display: none;
  justify-content: flex-end;
  width: 310px;
  // height: 330px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 56px;
  right: 1vw;
  box-shadow: 1px 3px 8px 8px rgba(0, 0, 0, 0.4);
}

.profile-dropdown-content {
  width: 310px;
  // height: 330px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.dropdown-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #e5e5e5;
  padding: 16px;
  // width: 100%;
  width: 90.4%;
}

.dropdown-header-icon {
  font-size: 35px;
  padding-right: 15px;
  color: rgb(173, 181, 189);
}

.dropdown-header-user {
  display: flex;
  flex-direction: column;
  // padding: ;
}

.dropdown-header-username {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  padding-bottom: 5px;
}

.dropdown-header-email {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}

.dropdown-main {
  display: flex;
  flex-direction: column;
  padding: 9px 0px;
  height: 100%;
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  color: rgb(198, 198, 198);
  padding: 10px 10px 10px 25px;
  border: none;
  background: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgb(242, 242, 242);
}

.dropdown-item:active {
  background-color: rgb(215, 215, 215);
}

.dropdown-item span {
  font-size: 20px;
  color: #606060;
  padding: 0px 15px 0px 20px;
}

.dropdown-item h2 {
  font-size: 17px;
  text-decoration: none;
  color: #606060;
}

/* .nav-bar-right button {
    background: white;
    border: 1px solid rgb(0, 102, 206) ;
    color: rgb(0, 102, 206);
    height: 28px;
    width: 80px;
    padding: 11px 5px;
} */

.nav-bar-upload-button {
  width: 50px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(173, 181, 189);
}

.sign-in-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: white;
  border: 1px solid rgb(0, 102, 206);
  color: rgb(0, 102, 206);
  height: 80%;
  width: 80px;
  padding: 11px 5px;
  /* font-weight: bolder; */
  cursor: pointer;
}

.sign-in-button p {
  font-size: 14px;
  font-weight: bolder;
}

.video-index-container {
  display: flex;
  width: 86%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.video-index-container-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.video-item-container {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  max-width: 209px;
  cursor: pointer;
  margin-right: 4px;
  margin-top: 10px;
  padding-right: 4px;
}

// .video-item-container img {
//   width: 209px;
//   height: 128px;
// }

.video-item-container-image {
  width: 100%;
  height: 100%;
}

.video-item-container-image img {
  background-color: black;
  width: 100%;
  height: 128px;
  object-fit: contain;
}

.video-details {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 82px;
}

.video-details h1 {
  font-size: 14px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin-bottom: 8px;
}

.video-details p {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #606060;
}

.video-index-container-background {
  height: 100vh;
  width: 100vw;
  background-color: rgb(249, 249, 249);
}

.video-index-recommended-header {
  display: flex;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 10px;
}

.video-show-wrapper {
  width: 100%;
  background-color: rgb(249, 249, 249);
}

.video-show-wrapper span {
  padding-top: 30px;
}

.video-show-page {
  margin-bottom: 80px auto;
  margin-left: 80px auto;
  margin-right: 80px auto;
  width: 95%;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 75px;
}

.video-show-container {
  padding-right: 24px;
  height: auto;
  max-width: 679px;
  margin-left: 34px;
}

.video-container {
  min-width: 427px;
  background: black;
  min-height: 240px;
  max-width: 679px;
  max-height: 382px;
  width: 679px;
  height: 382px;
  margin-bottom: 30px;
}

.video-container video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.video-show-container video {
  object-fit: contain;
}

.video-show-details {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.video-show-details-top {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #e5e5e5;
  justify-content: space-between;
}

.video-show-details-top-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video-show-details-top-top h1 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 25px;
}

.video-show-details-top-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video-show-details-top-bottom p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
  color: rgb(110, 110, 110);
}

.like-system-container {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.like-thumbs-container {
  display: flex;
  flex-direction: row;
}

.thumbs-up {
  padding-right: 15px;
  color: rgb(144, 144, 144);
}

.thumbs-up-selected {
  padding-right: 15px;
  color: rgb(8, 99, 210);
}

.thumbs-up-selected :hover {
  cursor: pointer;
}

// .thumbs-up

.thumbs-up :hover {
  cursor: pointer;
}

.thumbs-up strong {
  // color: rgb(96, 96, 96);
  // font-family: "Roboto", sans-serif;
}

#thumbs-up-icon {
  padding-right: 8px;
  // color: rgb(144, 144, 144);
}

.thumbs-down {
  padding-right: 15px;

  color: rgb(144, 144, 144);
}

.thumbs-up-selected {
  padding-right: 15px;

  color: rgb(8, 99, 210);
}

.thumbs-down :hover {
  cursor: pointer;
}

.thumbs-down-selected :hover {
  cursor: pointer;
}

.thumbs-down strong {
  // color: rgb(96, 96, 96);
  // font-family: "Roboto", sans-serif;
}

#thumbs-down-icon {
  padding-right: 8px;
  // color: rgb(144, 144, 144);
}

.like-bar {
}

.video-show-details-bottom {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.video-show-details-bottom h1 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.video-show-details-bottom h2 {
  font-size: 14px;
  color: rgb(110, 110, 110);
  padding-bottom: 30px;
}

.video-show-details-bottom p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.video-show-index-container {
  display: flex;
  flex-direction: column;
}

.video-show-index-container h3 {
  font-size: 17px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.video-show-index-list {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.video-show-index-list > :first-child {
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(229, 229, 229);
  margin-bottom: 14px;
}

.video-show-list-item {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 100px;
  cursor: pointer;
  margin-bottom: 20px;
}

.video-show-list-item-image-container {
  width: 185px;
  height: 104px;
}

.video-show-list-item-image-container img {
  background-color: black;
  width: 185px;
  height: 104px;
  object-fit: contain;
}

.video-show-list-item-details {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.video-show-list-item-details h1 {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  padding-bottom: 13px;
}

.video-show-list-item-details p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  padding-bottom: 13px;
  color: rgb(96, 96, 96);
}

.edit-button {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: #1a73e8;
}
