/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 input {
    outline:none;
 }

 button {
    outline:none;
    cursor: pointer;
 }

.session-form-container {
    display: flex;
    width: 450px;
    height: 550px;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    padding: 50px;
    border: 1px rgb(217, 220, 224) solid;;
    margin: 100px auto;
    border-radius: 5px;
    box-sizing: border-box;
}

.logo h2{
    font-size: 30px;
    font-weight: 1000;
}

.session-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.session-input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.session-input-fields input {
    height: 25px;
    width: 300px;
    padding: 13px 15px;
    border-radius: 5px;
    margin: 10px;
    border: 1px rgb(217, 220, 224) solid;
    /* border-style: solid; */
    font-size: 16px;
}

.session-input-fields input:focus {
    border: 2px rgb(0, 122, 226) solid
}

.session-form-buttons {
    display: flex;
    width: 350px;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px;
    cursor: pointer;
}

.next-button {
    background-color: rgb(0, 122, 226);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.session-form-buttons-Links {
    text-decoration: none;
    color: #1A73E8;
    padding-top: 15px;

}

.session-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session-form-header h2 {
    padding: 20px;
    font-size: 24px;
    margin: 10px;
}

.session-form-header h4 {
    margin-bottom: 20px;
}

.errors-text {
    font-size: 12px;
    font-weight: lighter;
    color: rgb(231, 42, 43);
}

.errors-text-login {
    font-size: 14px;
    font-weight: lighter;
    color: rgb(231, 42, 43);
}


.nav-bar-container {
    display: flex;
    width: 100%;
    height: 56px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 35px;
}

.nav-bar-left h2 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
}

.nav-bar-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.search-bar {
    width: 90%;
}

.search-bar input {
    width: 100%;
}

.search-button {
    border: 1px solid rgb(208, 208, 208);
    margin-left: 5px;
    cursor: pointer;
}

.nav-bar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 35px;
}

/* .nav-bar-right button {
    background: white;
    border: 1px solid rgb(0, 102, 206) ;
    color: rgb(0, 102, 206);
    height: 28px;
    width: 80px;
    padding: 11px 5px;
} */

.sign-in-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: white;
    border: 1px solid rgb(0, 102, 206) ;
    color: rgb(0, 102, 206);
    height: 80%;
    width: 80px;
    padding: 11px 5px;
    /* font-weight: bolder; */
    cursor: pointer;
}

.sign-in-button p {
    font-size: 14px;
    font-weight: bolder;
}

